<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>平均分布</title>
  <style>
    .container {
      width: 600px;
      background: #FFFFFF;
      border-radius: 10px;
      border: 1px solid lightgreen;
      margin: 0 auto; 
    }

    .grid {
      display: flex;
    }

    .grid-cell {
      flex: 1;
      background: #F4F3F0; 
      margin: 1px;
      border-radius: 10px;
      text-align: center;
    }

    .text {
      text-align: left;
    }
  </style>
</head>

<body>

</body>

<div class="container">
  <div class="grid">
    <div class="grid-cell">...</div>
    <div class="grid-cell">...</div>
  </div>
  <div class="grid">
    <div class="grid-cell">...</div>
    <div class="grid-cell">...</div>
    <div class="grid-cell">...</div>
  </div>
  <div class="grid">
    <div class="grid-cell">...</div>
    <div class="grid-cell">...</div>
    <div class="grid-cell">...</div>
    <div class="grid-cell">...</div>
  </div>
  <div class="grid">
    <div class="grid-cell text">Full-height, even when my content doesn`t fill the space.</div>
    <div class="grid-cell text">
     even when my content doesn`t fill the space,even when my content doesn`t fill the spaceeven when my content doesn`t fill the spaceeven when my content doesn`t fill the spaceeven when my content doesn`t fill the spaceeven when my content doesn`t fill the spaceeven when my content doesn`t fill the spaceeven when my content doesn`t fill the space
    </div>
  </div>
</div>

</html>