<!DOCTYPE html>


<html>

<head>
  <meta charset='UTF-8'>
  <title> 悬挂式布局 </title>
  <style>
     
     .media {
       display: flex;
       align-items: flex-start;
       background: lightblue;
     }

     .media-figure {
       margin-right: 1em;
       background: black
     }

     .media-body {
       flex: 1;
       background: lightgray;
       margin: 0;
       padding: .5em;
     }
    
  </style>
</head>

<body>
  
  <div class="media">
    <img src="" alt="我就不显示了" class="media-figure">
    <p class="media-body">我就不显示了我就不显示了我就不显示了我就不显示了我就不显示了 我就不显示了我就不显示了我就不显示了</p>
  </div>

</body>

</html>