
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>固定的底栏</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .site {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .site-content {
      flex: 1;
      background: lightgray;
    }
  </style>
</head>

<body>
    <div class="site">
      <header>This is Header</header>
      <main class="site-content">
        This is content. content. content. content. content. content. content.
      </main>
      <footer>
        This is footer. footer. footer. footer.
      </footer>
    </div>
</body>

</html>